$dark:#2f2f2f;
$light:#fff;
$accent: #F7F7F7;

body {
    background-color: $accent;
    color: $dark;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    padding: 32px;
    .form-container {
        margin-bottom: 48px;
        form {
            .form-widget {
                margin-bottom: 32px;
                input {
                    padding: 8px;
                    width: 100%;
                }
            }
            .form-actions {
                display: flex;
                align-items: center;
                button {
                    background-color: $dark;
                    color: #2f2f2f;
                    padding: 8px 32px;
                    border-radius: 10px;
                }
            }
        }
    }
    .list-container {
        margin-bottom: 48px;
        ul {
            list-style: none;
            padding: 0px;
            li {
                padding: 16px;
                border: 1px solid $dark;
                letter-spacing: 0em;
                &[class*="done"] {
                    text-decoration: line-through;
                }
                .desc {
                    font-weight: 600px;
                    font-size: 18px;
                }
                .timestamp {
                    font-weight: 300px;
                    font-size: 12px;
                    text-align: right;
                }
            }
        }
    }
}